---
title: Installing and Configuring Solace Messaging for Pivotal Cloud Foundry
owner: Partners
---

This topic describes how to install and configure Solace Messaging for Pivotal Cloud Foundry (PCF). Before installing Solace Messaging for PCF, you must complete the [prerequisites](index.html#prereqs).

##<a id='resource-reqs'></a> Review Resource Requirements

Review the default resource and IP requirements for installing the Solace Messaging for PCF tile.

<table border="1" class="nice">
	<tr>
		<th>Product</th>
		<th>Resource</th>
		<th>Instances</th>
		<th>CPU</th>
		<th>Ram</th>
		<th>Ephemeral</th>
		<th>Persistent</th>
		<th>Static IP</th>
		<th>Dynamic IP</th>
	</tr>
  <tr>
    <td>Solace Messaging for PCF</td>
    <td>Solace Service Broker</td>
    <td>1</td>
    <td>1</td>
    <td>1024</td>
    <td>1024</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Solace Messaging for PCF</td>
    <td>Medium-VMR</td>
    <td>1</td>
    <td>2</td>
    <td>4096</td>
    <td>10240</td>
    <td>20480</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Solace Messaging for PCF</td>
    <td>Large-VMR</td>
    <td>1</td>
    <td>4</td>
    <td>12288</td>
    <td>10240</td>
    <td>40960</td>
    <td>1</td>
    <td>0</td>
  </tr>
</table>

<p class="note"><strong>Note</strong>: You can modify the resource usage while configuring the Solace Messaging for PCF tile. For more information, see the <a href="#configure">Configure Solace Messaging for PCF</a> tile below.</p> 

##<a id='install'></a> Install Solace Messaging for PCF 

To install Solace Messaging for PCF, perform the following steps:

1. Download the product file from Pivotal Network.
1. Upload the product file on the Ops Manager Installation Dashboard.
1. Click **Add** next to the uploaded Solace Messaging tile in the Ops Manager **Available Products** view to add it to your staging area.
1. Click the **Solace Messaging** tile.
1. Follow the steps in the section below to configure the tile.

##<a id='configure'></a> Configure Solace Messaging for PCF

To configure Solace Messaging for PCF, perform the following steps:

1. From the **Settings** tab of the Solace Messaging tile, click **Message Routing Config**.
	<%= image_tag('VMR_Config_Form.png') %> 
1. Under **Admin user password**, pick a password for the Virtual Message Routers admin user.
	<%= image_tag('admin_password_VMR_Config.png') %>
1. Under **Support user password**, pick a password for the Virtual Message Routers support user.
	<%= image_tag('support_password_VMR_Config.png') %>
1. Under **Starting Port**, enter a port where the messaging services on the VMRs will start listening from. For example, `7000`.
	<%= image_tag('Starting_Port_VMR_Config.png') %>
1. Click **Save**.
1. Click **Resource Config**.
1. If necessary, use the drop-down menus to increase the number of instances of the `Large-VMR` job and the `Medium-VMR` job, or increase the persistent disk available to each job. The `Large-VMR` job defines the VMs allocated for the `Large` service plan, and the `Medium-VMR` job defines the VMs allocated for the `Shared` service plan. Pivotal recommends keeping the default values for **VM Type**. 
<p class="note"><strong>Note</strong>: The  maximum number of service instances that can concurrently exist for the <code>Shared</code> service plan is the number of <code>Medium-VMR</code> instances times 5. The maximum number of service instances that can concurrently exist for the <code>Large</code> service plan is the number of <code>Large-VMR</code> instances.</p>
  <%= image_tag('Resource_Config.png') %>
  
1. Click **Save**.
1. Click **Apply Changes** to deploy the tile.
1. After the tile has deployed, see the [Creating and Binding Solace Messaging Service Instances](service-instances.html) topic for information about how to create instances of the Solace Messaging service and bind them to applications.
