---
title: Installing and Configuring Solace PubSub+ for Pivotal Cloud Foundry
owner: Partners
---

This topic describes how to install and configure Solace PubSub+ for Pivotal Cloud Foundry (PCF). 
Before installing Solace PubSub+ for PCF, you must complete the [prerequisites](#prereqs).

##<a id='resource-reqs'></a> Review Resource Requirements

Review the resource and IP requirements for installing the Solace PubSub+ for PCF tile.

<table border="1" class="nice">
	<tr>
		<th>Resource</th>
		<th>Instances</th>
		<th>CPU</th>
		<th>Ram (MB)</th>
		<th>Ephemeral (MB)</th>
		<th>Persistent (MB)</th>
		<th>Static IP</th>
		<th>Dynamic IP</th>
	</tr>
  <tr>
    <td>Solace Service Broker</td>
    <td>1</td>
    <td>1</td>
    <td>1024</td>
    <td>1024</td>
    <td>0</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Enterprise Large</td>
    <td>1<a href="#tableNote1"><sup>1</sup></a></td>
    <td>4</td>
    <td>12288</td>
    <td>10240</td>
    <td>40960<a href="#tableNote1"><sup>1</sup></a></td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Enterprise Shared</td>
    <td>1<a href="#tableNote1"><sup>1</sup></a></td>
    <td>2</td>
    <td>4096</td>
    <td>10240</td>
    <td>20480<a href="#tableNote1"><sup>1</sup></a></td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Enterprise Medium-HA</td>
    <td>3
	<a href="#tableNote1"><sup>1, </sup></a>
	<a href="#tableNote2"><sup>2</sup></a></td>
    <td>2</td>
    <td>4096</td>
    <td>10240</td>
    <td>20480<a href="#tableNote1"><sup>1</sup></a></td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Enterprise Large-HA</td>
    <td>3
	<a href="#tableNote1"><sup>1, </sup></a>
	<a href="#tableNote2"><sup>2</sup></a></td>
    <td>4</td>
    <td>12288</td>
    <td>10240</td>
    <td>40960<a href="#tableNote1"><sup>1</sup></a></td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Management</td>
    <td>1<a href="#tableNote3"><sup>3</sup></a></td>
    <td>1</td>
    <td>2048</td>
    <td>10240</td>
    <td>10240</td>
    <td>1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>Arbitrator</td>
    <td>0<a href="#tableNote4"><sup>4</sup></a></td>
    <td>1</td>
    <td>1024</td>
    <td>10240</td>
    <td>0</td>
    <td>1</td>
    <td>0</td>
  </tr>
</table>

<p id="tableNote1" class="note"><strong><sup>1</sup> Note</strong>: You can modify the number of instances and persistent disk size when configuring the Solace PubSub+ for PCF tile for the Solace PubSub+ Message Broker jobs. For more information, see the <a href="#configure">Configure Solace PubSub+ for PCF</a> tile below.</p> 

<p id="tableNote2" class="note"><strong><sup>2</sup> Note</strong>: A single high availability Solace PubSub+ service instance requires three (3) HA Solace PubSub+ Message Broker job instances to be used. As such, the number of HA Solace PubSub+ Message Broker job instances specified for the HA Solace PubSub+ Message Broker instances should be a multiple of 3. If it is not, the remaining job instances go unused.</p>

<p id="tableNote3" class="note"><strong><sup>3</sup> Note</strong>: The management vm is only required when choosing to deploy with one of the internal MySQL database options. You can set this to zero if you choose 'MySQL For PCF' or 'External MySQL'. A single instance is required if you choose the 'Internal MySQL' option, two instances are required if you choose the 'Internal MySQL (Highly Available)'.</p>

<p id="tableNote4" class="note"><strong><sup>4</sup> Note</strong>: One arbitrator vm is required when choosing to deploy with the 'Internal MySQL (Highly Available)' database option. Otherwise set this to zero.</p>

## <a id='prereqs'></a>Prerequisites

Solace PubSub+ for PCF requires the following:

* Java buildpack v3.7.1 or later.
* MySQL database which can be made available in one of these methods:
  * Internal deployment as part of the Solace PubSub+ for PCF on a management VM
     * See <a href="#required_mysql_internal">Internal MySQL</a>
     * See <a href="#required_mysql_internal_ha">Internal MySQL (Highly Available)</a>
  * As service from a deployment of [MySQL for Pivotal Cloud Foundry](http://docs.pivotal.io/p-mysql/index.html). Please ensure to configure for a High Availability setup and with service plans offering a minimum of 100 MB. see <a href="#required_mysql_for_pcf">MySQL for PCF</a>
  * External when mysql is already deployed outside PCF, it may be offered as a user provided service instance to Solace PubSub+ for PCF, see <a href="#required_mysql_external">External MySQL</a>

##<a id='install'></a> Install Solace PubSub+ for PCF 

To install Solace PubSub+ for PCF, do the following:

1. Download the product file from Pivotal Network.
1. Upload the product file on the Ops Manager **Installation Dashboard**.
1. Click **Add** next to the uploaded Solace PubSub+ tile in the Ops Manager **Available Products** view to add it to your staging area.
1. Click the **Solace PubSub+** tile.
1. Follow the steps in the section below to configure the tile.

##<a id='configure'></a> Configure Solace PubSub+ for PCF

To configure Solace PubSub+ for PCF, do the following:

From the **Settings** tab of the Solace PubSub+ tile:
  <%= image_tag('select_tile_settings_new.png') %>

1. Configure the [**Required Settings**](#configure_required):
   * [**Assign AZs and Networks**](#required_azs_and_network)
   * [**Management Access**](#required_management_access)
   * [**MySQL Configuration**](#required_mysql_configuration)
   * [**TCP Routes**](#required_tcp_routes)
   * [**Stemcell**](#required_stemcell)
   * [**Resource Config**](#required_resource_config)

1. Configure the [**Optional Settings**](#configure_optional):
   * [**Message Broker Config**](#optional_message_broker_config)
   * [**TLS Config**](#optional_tls_config)
   * [**Management Access (LDAP)**](#optional_management_access)
   * [**Service Access**](#optional_service_access)
   * [**Application Access**](#optional_application_access)
   * [**LDAP Settings**](#optional_ldap_settings)
   * [**System Logging**](#optional_system_logging)
   * [**TCP Routes**](#optional_tcp_routes)

1. [Apply Changes](#apply_changes).


###<a id='configure_required'></a> Required Settings

<a id='required_azs_and_network'></a>**Assign AZs and Networks**

1. From the **Settings** tab of the Solace PubSub+ tile, click **Assign AZs and Networks**.
    <%= image_tag('select_1_assign_azs_and_networks.png') %>
1. Under **AZ and Network Assignments**, choose the network and availability zones where Solace PubSub+ should run.
   If you are deploying Solace PubSub+ with high availability plans, consider using multiple availability zones for maximum fault tolerance.

    <%= image_tag('form_assign_azs_and_networks.png') %>
1. Click **Save**.

<a id='required_mysql_configuration'></a>**MySQL Configuration**


1. Click **MySQL Configuration**.

    <%= image_tag('select_1_mysql.png') %> 
1. Select one of the supported MySQL configuration for the service broker's database.

    <p></p>
    <a id='required_mysql_internal'></a>
    <p class="note"><strong>Internal MySQL</strong>: The default option is for a 'Internal MySQL' deployed to a single management VM. This option does not provide a high availability deployment of MySQL and not recommended for a production deployment of Solace PubSub+ for PCF..</p>
    <%= image_tag('form_mysql_default_new.png') %>
    <p></p>

    <a id='required_mysql_internal_ha'></a>
    <p class="note"><strong>Internal MySQL (Highly Available)</strong>: Please ensure to allocate two management VMs, and one arbitrator VM, the arbitrator VM should be located in a different availability zone than the management VMs. The Load Balancer setup needs to ensure to point to the two management VMs with healthcheck port 1936. The Load Balancer setup must be sticky. For more details please See [CF MySQL Release - Proxy: Configuring Load Balancer](https://github.com/cloudfoundry/cf-mysql-release/blob/develop/docs/proxy.md#configuring-load-balancer)</p>
    <%= image_tag('form_mysql_internal_ha_new.png') %>
    <p></p>

    <a id='required_mysql_for_pcf'></a>
    <p class="note"><strong>MySQL for PCF</strong>: When MySQL for PCF Tile is available please ensure to select a highly available service plan with a minimum of 100mb database size.</p>
    <%= image_tag('form_mysql_for_pcf_new.png') %>
    <p></p>

    <a id='required_mysql_external'></a>
    <p class="note"><strong>External MySQL</strong>: When MySQL is available as an external service it may be provided a user-provided-service to Solace PubSub+ for PCF. Please ensure to have a highly available deployment with a minimum of 100mb database size.</p>
    <%= image_tag('form_mysql_external_new.png') %>
    <p></p>

    <p class="note"><strong>Note</strong>: The choice you make for the MySQL configuration is not modifiable once the deployment has completed. Please ensure to select the most appropriate option for your deployment.</p>

1. Click **Save**.

<a id='required_management_access'></a>**Management Access**

1. Click **Management Access**.

    <%= image_tag('select_1_management_access.png') %> 
1. Under **Admin user password**, pick a password for the message brokers `admin` user.

    <%= image_tag('form_management_access_admin_user_password_new.png') %>
1. [(Optional) if you want to use LDAP](#optional_management_access).

1. Click **Save**.

<a id='required_tcp_routes'></a>**TCP Routes (Save required)**

You need to open this pane and click **Save** even if using the default setting. If you want to enable TCP routes, see <a href="#optional_tcp_routes">(Optional) TCP Routes</a>.

1. Click **TCP Routes**.

    <%= image_tag('select_1_tcp_routes.png') %>
1. Default: **TCP Routes Disabled**.

    <%= image_tag('form_tcp_routes_new.png') %>
1. Click **Save**.

<p class="note"><strong>Note</strong>: Failing to click <strong>Save</strong> might result in an <code>unknown property "solace_router"</code> exception when you attempt to Apply Changes.</p>

<a id='required_stemcell'></a>**Stemcell**

You might need to import a stemcell import if the minimum stemcell required for Solace PubSub+ for PCF is not found.

1. Click **Stemcell**.

    <%= image_tag('select_1_stemcell.png') %> 
1. Click **Import Stemcell** to import the required stemcell for your installation of PCF.
  * [Download Stemcells for PCF](https://network.pivotal.io/products/stemcells)

<a id='required_resource_config'></a>**Resource Config**

1. Click **Resource Config**.

    <%= image_tag('select_1_resource_config.png') %> 
1. Use the drop-down menus to configure the number of Solace PubSub+ Message Broker job instances that are available in each of the service plans mentioned above.
   These job instances are statically created when the tile is deployed.
   Service instances are then dynamically allocated at service instance creation time, post-deployment, using these job instances.<br/><br/>
   Five Enterprise Shared service instances can be hosted on a single Enterprise Shared job instance.
   As such, the maximum number of Enterprise Shared service instances that can concurrently exist for the <code>Enterprise Shared</code> service plan is equal to five times the number of <code>Enterprise Shared</code> job instances.
   Conversely, three HA Solace PubSub+ Message Broker job instances are required for a single HA Solace PubSub+ Message Broker service instance.
   As such, the maximum number of HA Solace PubSub+ Message Broker service instances that can concurrently exist for the <code>Enterprise Large-HA</code> and <code>Enterprise Medium-HA</code> service plans is equal to one-third the number of their corresponding job instances.
   In order for <code>Enterprise Large-HA</code> and <code>Enterprise Medium-HA</code> service plans to provide high availability fault tolerance, make use of multiple availability zones for your deployment, with a minimum of 2 and an ideal of 3 or more.
   If you have only one availability zone, the deployment is not fault tolerant and Solace does not recommend using high availability service plans under this scenario.
<p class="note"><strong>Note</strong>: The number of job instances can be increased after the tile is deployed without impacting already bound apps. However, reducing the number of instances can result in app failure and message loss.</p>
<p class="note"><strong>Note</strong>: The size of the persistent disk can be changed both before and after deployment. 
  Increasing the size of the persistent disks will impact the service of already bound apps. However, messages will not be lost. 
  Reducing the size of the persistent disk post-deployment is not recommended and can result in message loss, inoperable Solace PubSub+ Message Broker, and/or undefined behaviors.</p>
<p class="note"><strong>Note</strong>: Solace recommends keeping the default values for **VM Type**. A reduction of the RAM or CPU capacity may lead to a deployment failure or service degradation.</p>
<p class="note"><strong>Note</strong>: The deploy-all and delete-all are required errands for the installation and removal of the Solace Service Broker.
   Solace recommends leaving the default VM Type.
   The VM Type for these errands is not related to the required resources of the Solace Service Broker, which runs in Elastic Runtime.</p>
<p class="note"><strong>Note</strong>: The solace_tests errand will test that a deployment has completed as expected and that it is ready for service. Solace recommends always running this errand after a deployment.
   Solace recommends leaving the default VM Type.</p>
    <%= image_tag('form_resource_config_renamed.png') %>

1. Click **Save**.


###<a id='configure_optional'></a> Optional Settings

<a id='optional_message_broker_config'></a>**(Optional) Message Broker Config**

1. Click **Message Broker Config**.

    <%= image_tag('select_1_message_broker_config.png') %> 
1. Under **Starting Port**, enter a port where the messaging services on the Solace PubSub+ Message Brokers (e.g. MQTT, REST, or SMF) will start listening from, for example, `7000`.  
The exact port numbers chosen for each service will be based on this starting port and specified in the `VCAP_SERVICES` environment variable passed to apps. 
For an example, see [Example Environment Variable](credentials.html#example).
<p class="note"><strong>Note</strong>: The Starting Port may only be set at tile installation time. Its value may not be changed later.</p>
    <%= image_tag('form_message_broker_config.png') %>

1. Click **Save**.

<a id='optional_tls_config'></a>**(Optional) TLS Config**

1. Click **TLS Config**. 

    <%= image_tag('select_1_tls_config.png') %> 

    TLS is disabled by default.

    <%= image_tag('form_tls_config_new.png') %> 

1. Click **TLS Enabled**.

    <%= image_tag('form_tls_config_enabled_new.png') %> 
By enabling and configuring TLS, you allow messaging between apps and the Solace PubSub+ Message Broker to be encrypted. 
Apps requiring encryption would then need to use the TLS-specific URLs passed in the `VCAP_SERVICES` environment variable. 
For more information about the `VCAP_SERVICES` environment variable, see [Example Environment Variable](credentials.html#example). 
If TLS is not configured, the TLS specific URLs continue to be passed in the `VCAP_SERVICES` environment variable but fail to connect to a PubSub+ Message Broker if used.

1. Configure **Message Broker's RSA certificate (Server Certificate)** either by pasting in a certificate and private key in PEM format
   or asking one to be generated by clicking **Generate RSA Certificate**. 
   Generated certificates are equivalent to self-signed certificates.

    <%= image_tag('form_tls_config_server_certificate_new.png') %>
<p class="note"><strong>Note</strong>: The server certificate configured will be used by all Solace PubSub+ Message Brokers deployed. As such, all Solace PubSub+ Message Brokers deployed in a PCF instances will have the same identification.</p>
    <%= image_tag('form_tls_config_disable_sb_cert_validation.png') %>
<p class="note"><strong>Note</strong>: Communication between the Solace PubSub+ Service Broker and Solace PubSub+ Message Broker is also encrypted if a TLS certificate is configured. 
The Service Broker uses the Container Certificate Trust Store Framework to validate the server certificate returned by Solace PubSub+ Message Brokers. 
So if the framework is not operational when the tile is deployed the Service Broker will be unable to validate server certificates sent by the Solace PubSub+ Message Brokers
and the tile will fail to deploy. 
In development environments, it may be acceptable to not require server certificate validation, in which case the <strong>Disable RSA Server Certificate validation on the Service Broker (For development only)</strong> checkbox can be selected. 
This checkbox should never be selected in production deployments. Instead, the framework should be made operational.</p>

1. (Optional) Configure **Message Broker's Trusted Root Certificates**.
   These certificates will be stored in the trust store on the Solace PubSub+ Message Brokers.
   They are required if you choose to use LDAP with TLS.
    <%= image_tag('form_tls_config_trusted_root_certificates_new.png') %>

1. Click **Save**.

<a id='optional_service_access'></a>**(Optional) Service Access**

1. Click **Service Access**.

    <%= image_tag('select_1_service_access.png') %>
1. Check the **Enable global access to plans of service solace_pubsub** option.
    <%= image_tag('form_service_access_new.png') %>
<p class="note"><strong>Note</strong>: To control access to Solace PubSub+ service plans on a case-by-case basis, do not enable this option. Once this is enabled it cannot be disabled from this form. It must be revoked by the operator manually.</p>

1. Click **Save**.


<a id='optional_management_access'></a>**(Optional) Management Access**

1. Click **Management Access**.

    <%= image_tag('select_1_management_access.png') %> 

1. If you configured [LDAP](#optional_ldap_settings), you may choose to have the LDAP Server provide the authentication
   and authorization for the management roles on a Solace service instance.
    <%= image_tag('form_management_access_ldap_new.png') %>
1. (Optional) Configure Groups with Solace PubSub+ Message Brokers administration read-only privilege.
    <%= image_tag('form_management_access_ldap_readonly_new.png') %>
1. (Optional) Configure Groups with Solace PubSub+ Message Brokers administration read-write privileges.
    <%= image_tag('form_management_access_ldap_readwrite_new.png') %>
1. (Optional) Configure Groups with Solace PubSub+ Message Brokers administration administrator privileges.
    <%= image_tag('form_management_access_ldap_admin_new.png') %>
<p class="note"><strong>Note</strong>: Cloud Operators need to have global access to the Solace PubSub+ Message Brokers deployed by the tile.
   This will allow them to administer the Solace PubSub+ Message Brokers with SolAdmin, CLI or SEMP-based tools.
   Cloud operators might have different roles.
   Each role requires one of the three types of access-level: administrator, read-write and read-only.
   When using "Message Broker Internal" the cloud operators access to a single administrator level role using the admin password.
   With "LDAP Server" users can be assigned to groups in LDAP mapping to their respective roles.</p>

1. Click **Save**.

<a id='optional_application_access'></a>**(Optional) Application Access**

1. Click **Application Access**

    <%= image_tag('select_1_application_access.png') %>
1. Using the defaults, the Solace PubSub+ Message Broker will use its internal database for user credentials per service instance.
   If you configured LDAP, you may request the Solace PubSub+ Message Broker to use the LDAP Server for authentication and authorization of when a client attempts to access a Solace PubSub+ service instance.
    <%= image_tag('form_application_access_new.png') %>

1. Click **Save**.

<a id='optional_ldap_settings'>**</a>(Optional) LDAP Settings**.

1. Click **LDAP Settings**

    <%= image_tag('select_1_ldap_settings.png') %>

    LDAP is disabled by default. 
  <%= image_tag('form_ldap_settings_new.png') %>
<p class="note"><strong>Note</strong>: Using the default <strong>LDAP Disabled</strong>, 
   the Solace PubSub+ Message Broker will use its internal database for management and user credentials per service instance.
   To use an LDAP store you must select <strong>LDAP Enabled</strong> and provide all the required settings for your LDAP server. </p>
1. Click **LDAP Enabled**.

    <%= image_tag('form_ldap_settings_enabled_new.png') %>
1. Set LDAP Server URL.

    <%= image_tag('form_ldap_settings_server_url.png') %>
<p class="note"><strong>Note</strong>: Consider network accessibility of the provided LDAP server,
   you may need to check the <strong>Internet Connected</strong> option in [Resource Config](#required_resource_config).</p>
1. Set LDAP TLS Preference.

    <%= image_tag('form_ldap_settings_starttls_new.png') %>
1. Set LDAP Credentials to use with the LDAP Server.

    <%= image_tag('form_ldap_settings_credentials.png') %>

1. Set User Search Base.

    <%= image_tag('form_ldap_settings_user_search_base.png') %>
1. Set User Search Filter.

    <%= image_tag('form_ldap_settings_user_search_filter.png') %>
1. Set User Group Membership Attribute Name.

    <%= image_tag('form_ldap_settings_user_group_membership_attribute_name.png') %>
1. Click **Save**.

In order to have an effective LDAP configuration, configure LDAP for [Management Access](#optional_management_access)
and [Application Access](#optional_application_access). 
**If neither [Management Access](#optional_management_access) nor [Application Access](#optional_application_access) are configured for LDAP, the Solace PubSub+ Message Broker will continue to use its internal database for management and user credentials.**

<a id='optional_system_logging'></a>**(Optional) System Logging**

1. Click **System Logging**.

    <%= image_tag('select_1_system_logging.png') %>

    System logging is disabled by default.
    <%= image_tag('form_system_logging.png') %>

1. Click **System Logging Enabled**.

    <%= image_tag('form_system_logging_enabled_new.png') %>
1. Set the external syslog hostname.

    <%= image_tag('form_system_logging_server.png') %>
<p class="note"><strong>Note</strong>: Consider network accessibility of the provided syslog server. You may need to check the <strong>Internet Connected</strong> option in [Resource Config](#required_resource_config).</p>
1. Set the external syslog port.

    <%= image_tag('form_system_logging_port.png') %>
1. Set the external syslog network protocol.

    <%= image_tag('form_system_logging_protocol.png') %>
1. Select what logs to send to the external syslog server.

    <%= image_tag('form_system_logging_mb_commands.png') %>
    <%= image_tag('form_system_logging_mb_events.png') %>
    <%= image_tag('form_system_logging_mb_system.png') %>
    <%= image_tag('form_system_logging_sb_agent.png') %>

1. Click **Save**.

<a id='optional_tcp_routes'></a>**(Optional) Enable TCP Routes**

1. Click **TCP Routes**.

    <%= image_tag('select_1_tcp_routes.png') %>

    TCP routes are disabled by default.

    <%= image_tag('form_tcp_routes_new.png') %>
1. Click **TCP Routes Enabled**.

    <%= image_tag('form_tcp_routes_enabled_1_new.png') %>
    <%= image_tag('form_tcp_routes_enabled_2_new.png') %>
  <p class="note"><strong>Note</strong>: Fine-grained control is available by protocol.
     If you choose <strong>"Not Allowed"</strong>, a TCP Route will never be created for this protocol, even if requested at service creation time.
     If you choose <strong>"Disabled by default"</strong>, at service creation time, a TCP Route will not be created for this protocol unless a user-provided parameter overrides it with a "true" setting.
     If you choose <strong>"Enabled by default"</strong>, a TCP Route will be created for this protocol at service creation time, unless a user-provided parameter overrides it with "false" setting.</p>
<p class="note"><strong>TCP Routes</strong> A solace\_router uaa agent is required to use the TCP Routes feature.
   If using a new version of the Elastic Runtime (v1.11, v1.10.11, v1.9.24, v1.8.46), the solace\_router uaa client may be present already, and there is no need to provide cf credentials.
   Check your installation for the presence of the solace\_router uaa client, this may be found under Pivotal Elastic Runtime\->Credentials\->UAA.
   When a solace\_router is not found, you will need to create one.
   Instructions on how to create one are provided below.</p>
<p class="note"><strong>TCP Routes</strong> Look up the UAA 'Admin Client Credentials', which will be needed to create the solace\_router.</p>
<p class="note"><strong>TCP Routes</strong> Install uaac if you don't already have it.</p>
  <pre class="terminal">
  $ gem install cf-uaac
  </pre>
<p class="note"><strong>TCP Routes</strong> Login to CF, target the UAA API, and log in with uaac using the 'Admin Client Credentials'.</p>
  <pre class="terminal">
  $ cf api api.YOUR-SYSTEM-DOMAIN
  $ cf login 
  $ uaac target uaa.sys.YOUR-SYSTEM-DOMAIN
  $ uaac token client get admin
  </pre>
<p class="note"><strong>TCP Routes</strong> Create the solace\_router uaa client with the necessary permissions and assign it a password.</p>
  <pre class="terminal">
  $ uaac client add solace_router --name solace\_router --scope uaa.none --authorized\_grant\_types "refresh\_token,client\_credentials" \
  $ --authorities "routing.routes.read,routing.routes.write,routing.router\_groups.read,cloud\_controller.read,cloud\_controller.write,cloud\_controller.admin" \
  $ -s "A\_GOOD\_SECRET\_PASSWORD"
  </pre>
<p class="note"><strong>TCP Routes</strong> Ensure that you have a 'tcp' domain.</p>
  <pre class="terminal">
  $ cf create-shared-domain tcp.YOUR-DOMAIN --router-group default-tcp
  </pre>
<p class="note"><strong>TCP Routes</strong> Consider PCF quotas, networking, and firewalls when using TCP Routes.
   For example, removing the limits on reserved route ports.</p>
  <pre class="terminal">
  $ cf update-quota default --reserved-route-ports -1
  </pre>
<p class="note"><strong>TCP Routes</strong> use solace\_router and the <strong>A\_GOOD\_SECRET\_PASSWORD</strong> as the cf credentials for TCP Routes.</p>

1. Click **Save**.

###<a id='apply_changes'></a> Apply Changes

In order to apply changes, all the settings for the Solace tile need to be marked with green checkmarks.

<%= image_tag('select_all_done_new.png') %>

1. Click **Installation Dashboard** at the top left corner of the screen to leave the tile configuration and go back to dashboard.

    <%= image_tag('link_installation_dashboard_new.png') %>
1. Click **Apply Changes** to deploy the tile.

    <%= image_tag('apply_changes_new.png') %>
1. After the tile has deployed, see [Creating and Binding Solace PubSub+ Service Instances](service-instances.html) for information about creating instances of the Solace PubSub+ service and binding them to apps.


## <a id='upgrades'></a>Upgrades

Solace PubSub+ for PCF supports upgrades starting with release 2.0.0. Future releases can upgrade a deployment if the deployment is 2.0.0 or higher.
In-Service-Upgrades are supported from release 2.0.0 for high-availability service plans.

### <a id='upgrades_non_ha'></a>Non-High Availability Upgrades

Upgrades are service-affecting for non-HA service plans <code>Enterprise Shared</code>, and <code>Enterprise Large</code>.

The messaging service for an application will experience an outage that lasts no longer than the time it takes to upgrade the Solace PubSub+ Message Broker and start it up again.

### <a id='upgrades_ha'></a>High Availability Upgrades

Upgrades are non-service-affecting for high-availability plans <code>Enterprise Large-HA</code> and <code>Enterprise Medium-HA</code>, so there will always be a service available during upgrades. Upgrades will affect each VM providing the HA service one at a time.

An application using an HA service will experience at least one switch-over during an upgrade, and at most two switch-overs.

Please see our [Getting Started Samples](http://dev.solace.com/get-started/pcf-tutorials/) with full source code available in [GitHub](https://github.com/SolaceSamples/solace-samples-cloudfoundry-java) for some examples of how HA connections are used, as well as [Configuring-Client-Connections](https://docs.solace.com/Solace-Messaging-APIs/Developer-Guide/Configuring-Connection-T.htm) for additional information on client connection setup to allow for switch-overs during upgrades.

The upgrade process is designed to keep services available. 

Failures in upgrades are due to either pre-conditions or post-conditions, and are intended to keep services available in case of any failure.

The following pre-conditions must be met before an upgrade can proceed, or the upgrade will abort.

* The version of the tile being upgraded must be version 2.0.0 or higher.
* The redundancy state of HA services must be healthy.


If any failure occurs during an upgrade, services will remain available. 

Please see the [Troubleshooting Guide](troubleshooting.html#upgrade_errors) for further details.

